<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZhihuDailyMVVM-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04FCBDB31C3F6AC700A30FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FCBDCC1C3F6AC800A30FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FCBDD71C3F6AC800A30FE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
